<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session['count']}}</p>
        <p><a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click</a></p>
        <p><a href="/addTwo" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add two</a></p>
        <p><a href="/destroy_session" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reset</a></p>
    <form action="/userAdds" method="POST">
        <label>Add user's input</label>
        <input name="number">
        <button type="submit"> Add!</button>
    </form>

    <form action="/addFixedNum" method="POST">
        <button type="submit"> Add 5 to the count!</button>
    </form>
        
    </div>
</body>
</html>